body {
  text-align: center;
  background-color: rgba(7, 141, 29, 0.2);
}

.header {
  display: block;
  border: 1px solid rgb(58, 58, 68);
  background-color: rgba(44, 95, 21, 0.877);
  width: 100%;
}

.header a {
  text-decoration: none;
  color: white;
}

.nav a {
  margin-left: 2%;
  margin-right: 2%;
}

h2 {
  color: rgba(44, 95, 21, 0.877);
}

.reviews-list li {
  border: 1px solid green;
  background-color: white;
  color: black;
  margin-bottom: 2%;
  display: flex;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2%;
}

li a:hover {
  box-shadow: -2px -2px 15px rgb(6, 39, 6);
}

li h3 {
  background-color: green;
  margin-top: 0;
  color: white;
  padding-bottom: 2%;
  padding-top: 2%;
}

li h4,
p {
  color: black;
}

li img {
  width: 50%;
  position: flex-end;
}

li a {
  text-decoration: none;
}

.review {
  max-width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.review-body {
  background-color: rgba(44, 95, 21, 0.877);
  color: white;
  padding: 10%;
}

.comments-list {
  background-color: rgba(44, 95, 21, 0.877);
  list-style-type: none;
  margin-top: 0;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
}

.comments-list li {
  background-color: white;
  color: green;
  margin-bottom: 2%;
  margin-right: 10%;
  margin-top: 2%;
  min-width: 100%;
}

.comment-card {
  color: green;
  border: 2px solid white;
}

.post-comment-form {
  text-align: center;
}

#comment {
  height: 100px;
  width: 100%;

  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}

img {
  width: 50%;
}

#sort {
  align-self: center;
  margin-left: 5%;
}

.loading-msg {
  margin: 20%;
}

button {
  border-radius: 5%;
  background-color: rgba(7, 141, 29);
  color: white;
  margin: 0.5%;
}

button :hover {
  box-shadow: 0px, 0px, 0px;
}

@media only screen and (max-width: 411px) {
  li img {
    display: none;
  }
}
