body {
  text-align: center;
  background-color: rgba(7, 141, 29, 0.2);
}

.header {
  display: inline-flex;
  border: 1px solid rgb(58, 58, 68);
  background-color: rgba(44, 95, 21, 0.877);
  width: 100%;
  display: block;
}

.header a {
  text-decoration: none;
  color: white;
}

.nav a {
  margin-left: 2%;
  margin-right: 2%;
}

@media only screen and (max-width: 411px) {
  .nav a {
    /* display: none; */
  }

  li img {
    display: none;
  }
}

h2 {
  color: rgba(44, 95, 21, 0.877);
}

.reviews-list {
  list-style-type: none;
  margin-top: 0;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 75%;
}

.comment-card {
  align-content: center;
  background-color: rgba(7, 141, 29, 0.2);
}

#comment {
  border: 1px solid green;
  margin-left: auto;
  margin-right: auto;
}

.comments-list {
  background-color: rgba(44, 95, 21, 0.877);
  list-style-type: none;
  margin-top: 0;
  display: inline-flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  width: 75%;
}
li {
  border: 1px solid green;
  background-color: white;
  color: black;
  margin-bottom: 2%;
  display: flex;
  margin-right: 2%;
}

li a:hover {
  box-shadow: -2px -2px 15px rgb(6, 39, 6);
}

button > a:hover {
  box-shadow: 0px, 0px, 0px pink;
}

li h3 {
  background-color: green;
  margin-top: 0;
  color: white;
  padding-bottom: 2%;
  padding-top: 2%;
}

li h4,
p {
  color: black;
}

li img {
  width: 50%;
  position: flex-end;
}

li a {
  text-decoration: none;
}

.post-comment-form {
  text-align: center;
}

#comment {
  height: 100px;
  width: 300px;
}

img {
  width: 50%;
}

#sort {
  align-self: center;
  margin-left: 5%;
}

.loading-msg {
  margin: 20%;
}

.comments h2 {
  margin: 5%;
}

button {
  border-radius: 5%;
  background-color: rgba(7, 141, 29);
  color: white;
  margin: 0.5%;
}

button :hover {
  box-shadow: 0px, 0px, 0px;
}
